.app-tab {
  cursor: pointer;
  border: 1px solid $dark-gray;
  padding: 0.5rem 1rem;
  display: flex;
  border-radius: 0.75rem;
  h3 {
    width: 100%;
    text-align: center;
  }
  &.tab-dark {
    border: 1px solid $light-gray;
  }
}

.active {
  background-color: $rose;
  color: $light-gray;
  border: none;
  &--dark {
    color: $dark-gray;
    background-color: $green;
  }
}
